<div class="background">
    <div class="container">
        <h1>Registro</h1>
        <form onsubmit="handleSubmit(event)">
            <label for="first_name"><b>Nombre</b></label>
            <input type="text" placeholder="Ingrese su nombre" name="first_name" >

            <label for="last_name"><b>Apellido</b></label>
            <input type="text" placeholder="Ingrese su apellido" name="last_name" >

            <label for="birth_date"><b>Fecha de nacimiento</b></label>
            <input type="date" placeholder="Ingrese su fecha de nacimiento" name="birth_date" >

            <label for="email"><b>Email</b></label>
            <input type="email" placeholder="Ingrese Email" name="email" >

            <label for="psw"><b>Contraseña</b></label>
            <input type="password" placeholder="Ingrese contraseña" name="password" >

            <button type="submit">Enviar</button>
        </form>
    </div>
</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="/js/signup.js"></script>