body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #333;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    opacity: 0.5;
    font-family: 'Courier New', Courier, monospace;
}

nav {
    background-color: #6d6d6d;
    overflow: hidden;
    width: 100%;
}

.nav-chat {
    outline: none;
    font-style: normal;
    overflow: hidden;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}


nav button {
    float: right;
    background-color: #4CAF50;
    color: white;
    height: 100%;
    font-size: 17px;
    border: none;
    cursor: pointer;
    margin-right: 20px;
    padding: 10px 15px;
    border-radius: 12px;
    font-family: 'Courier New', Courier, monospace;
}

nav button:hover {
    background-color: #72af74;
    color: #ffffff;
}



