body {
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
}

.noProducts {
    font-size: x-large;
    font-weight: lighter;
}

.productsTable {
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: left;
}

tr:hover {
    background-color: rgb(255, 222, 210);
}

.productsTable tr {
    border: 1px solid black;
}

.statusHead, .codeHead, .titleHead, .priceHead, .categoryHead, .descriptionHead, .stockHead {
    background-color: #f5f5f5;
    border: 1px solid black;
}

.pageNumbers {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
}

.addButton {
    width: 100%;
}

.head{
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
}
